.time-widget {
	background-color: #de7119;
	height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    margin-right: 30px;
}

.time-text {
	line-height: 70px;
	font-weight: bold;

}

.dance-class-card {
	margin: 30px 0;
	margin-left: 30px;
}

.description {
	margin: 0 70px;
}

.dance-style {
	border-bottom: 1px dashed;
	margin: 10px 0;
	font-weight: bold;
	text-transform: uppercase;
}
