.daycard {
	min-height: 400px;
	overflow: auto;
	background-color: #df7861;
}

.daycard:nth-child(2) {
	background-color: #ecdfc8;
}

.daycard:nth-child(3) {
	background-color: #ecb390;
}

.dance-class-cards {
	float: right;
	width: 59%;
	display: inline-block;
    padding: 5% 0;
    border-left: 2px dashed #204051;
}

.day-widget {
	float: left;
	width: 40%;
	color: #de7119;
	padding: 15% 0;
}

@media (max-width: 768px) {
  .day-widget {
    width: 100%;
    padding: 5% 0;
  }
}

@media (max-width: 768px) {
  .dance-class-cards {
    width: 100%;
    border: 0;
  }
}

@media (max-width: 768px) {
  .day-text {
	font-size: 110px;
	line-height: 100px;
	width: 80%;
  }
}