.footer {
	overflow: auto;
	clear: both;
	height: 700px;
	background-color: #fcf8e8;
	position: relative;
}

.left {
	float: left;
	width: 40%;
	height: 100%;
}

.right {
	float: right;
	width: 59%;
	border-left: 2px dashed #df7861;
	height: 100%;
}

.card {
	height: 200px;
	width: 250px;
	position: absolute;
	bottom: 40%;
	right: 15%;
	border: #df7861 dashed 3px;
    padding: 20px;
    text-align: center;
}

.credits {
	position: absolute;
	max-width: 400px;
	left: 10px;
	bottom: 10px;
}

h4 {
	margin-top: 10px;
}

span {
	font-size: 10px;
  	vertical-align: middle;
  	line-height: 2;
}

@media (max-width: 768px) {
  .right {
	border: 0;
  }

  .card {
  	position: absolute;
  	right: 50%;
  	-ms-transform: translateX(+50%);
    transform: translateX(+50%);
  }
}