.footer {
	overflow: auto;
	clear: both;
	height: 650px;
	background-color: #fcf8e8;
	position: relative;
}

.left {
	float: left;
	width: 40%;
	height: 100%;
}

.right {
	float: right;
	width: 59%;
	border-left: 2px dashed #df7861;
	height: 100%;
}

.card {
	height: 200px;
	width: 250px;
	position: absolute;
	bottom: 35%;
	right: 15%;
	border: #df7861 dashed 3px;
    padding: 20px;
    text-align: center;
}

.credits {
	position: absolute;
	right: 10px;
	bottom: 10px;
}

h4 {
	margin-top: 10px;
}

@media (max-width: 768px) {
  .right {
	border: 0;
  }
}