.header {
	height: 700px;
	background-color: #fcf8e8;
	overflow: hidden;
	position: relative;
}

.textwrap {
	position: absolute;
    top: 18%;
    left: 15%;
    padding: 45px;
    text-align: center;
    background: #fcf8e8;
	border: 5px #ecb390 solid;
}

img {
	height: 120px;
	display: inline;
	margin: -10px;
}

@media (max-width: 768px) {
  .textwrap {
	padding: 30px;
  }
  h1 {
  	font-size: 50px !important;
  }
  img {
  	height: 100px;
  }
}