.ig-dance-class {
	margin: 18px 0;
}
.ig-time-widget {
	display: inline-block;
	background-color: #204051;
	height: 22px;
	width: 60px;
    border-radius: 3px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.ig-time-text {
	font-weight: bold;
	color: #fcf8e8;
	line-height: 22px;
	letter-spacing: 0.5px;
}

.ig-dance-style {
	font-weight: bold;
	display: inline-block;
}

.ig-more-info {
	display: inline;
	margin-top: 0px;
	line-height: 22px;
}