body {
	font-family: Courier;
	color: #204051;
}

h1 {
	margin: 0px;
	font-size: 80px;
	font-family: Futura;
}

h2 {
	font-family: Helvetica Neue;
	word-wrap: break-word;
    text-transform: uppercase;
    margin: 0 auto;
    font-size: 130px;
    width: 400px;
    color: transparent;
    -webkit-text-stroke: 4px #204051;
	text-stroke: 4px #204051;
}

a {
	color: #204051;
	text-decoration: None;
}
